<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <p>UserId: <%=menyu.userId %></p>
    <p>ID: <%=menyu.id %></p>
    <p>Title: <%=menyu.title %></p>
    <p>Body: <%=menyu.body %></p>

  </body>
</html>
